<div class="results">
  <div class="title"><%=@poll.name %></div>
    <% @poll.questions.each do |poll_question| %>
    <!-- iterate through each question in the poll -->
    <p> <%= poll_question.text %> </p>
    <% poll_question.choices.each do |poll_choices| %>
    <!-- show each questions choices -->
    <p> <%= poll_choices.content %> </p>
    <p> <%= poll_choices.answers.length %> out of <%= poll_question.answers.length.to_i %> </p>

      <% end %>
      <% end %>











</div>
